<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
<display-name>HW3 (Worker)</display-name>
	<servlet>
	<servlet-name>WorkerServlet</servlet-name>
	<servlet-class>com.datformers.servlets.WorkerServlet</servlet-class>
         <init-param>
           <param-name>crawlerstore</param-name>
           <param-value>/mnt/crawlstore</param-value>
         </init-param>
         <init-param>
           <param-name>crawlerdb</param-name>
           <param-value>/mnt/crawldb</param-value>
         </init-param>
         <init-param>
           <param-name>master</param-name>
           <param-value>ec2-52-6-225-170.compute-1.amazonaws.com:8080</param-value>
         </init-param>
         <init-param>
           <param-name>port</param-name>
           <param-value>8080</param-value>
         </init-param>
         <load-on-startup>0</load-on-startup>
     	</servlet> 
	<servlet-mapping>
		<servlet-name>WorkerServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
